<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 将Person类交给Spring进行管理 
		<bean>: 代表Java中的一个类的对象. 
			id : 唯一标识. 
			class :  全类名. 通过反射创建对象。 
				  Class cls = Class.forName("全类名");
				  Object obj = cls.newInstance();  //无参数构造器
			<property>: 给对象的属性赋值
				name:指定属性名(set风格的属性名)
				value : 属性值
	-->
	<bean id="person" class="com.atguigu.spring.helloworld.Person">
		<property name="lastName1" value="Spring."></property>	
	</bean>
	
	<bean id="person1" class="com.atguigu.spring.helloworld.Person">
		<property name="lastName1" value="Spring1."></property>	
	</bean>

</beans>
