<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 1. 依赖注入  set方式      alt+/:一招灵 -->
	<bean id="employeeSet" class="com.atguigu.spring.di.Employee">
		<property name="id" value="1001"></property>
		<property name="lastName" value="社会刚"></property>
		<property name="age" value="35"></property>
	</bean>
	
	<!-- 2. 依赖注入  构造器方式 
		 index: 指定参数的位置
		 type:  指定参数的类型
	-->
	<bean id="employeeCon" class="com.atguigu.spring.di.Employee">
		<constructor-arg  value="1002"></constructor-arg>
		<constructor-arg  value="优优"></constructor-arg>
		<constructor-arg  value="35" index="2" type="java.lang.Integer"></constructor-arg>
	</bean>
	
	<bean id="employeeCon2" class="com.atguigu.spring.di.Employee">
		<constructor-arg value="1003"></constructor-arg>
		<constructor-arg value="婷姐"></constructor-arg>
		<constructor-arg value="10000" type="java.lang.Double"></constructor-arg>
	</bean>

</beans>
